---
import Posts from "@components/Posts.astro";
import MainLayout from "src/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="p-4">
    <h2 class="text-2xl flex justify-center my-5 font-bold squiggly">
      All Posts
    </h2>
    <Posts />
  </div>
</MainLayout>
