@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color: #fabd2f;
}

body{
    background-color: #1e1e1e;
    color: #e8e8e8;
    word-break: break-word;
    text-align: left;
}


.mark{
    border: 2px solid red;
}


.underline-hover{
    position: relative;
}

.underline-hover::after{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0px;
    width: 0;
    background-color: var(--primary-color);
    transition: width .4s ease-out;
}


.underline-hover:hover::after{
    width: 100%;
}

.icon{
    @apply  hover:text-primary cursor-pointer transition delay-0
}
.iconr{
    @apply  hover:text-primary cursor-pointer transition delay-0 hover:rotate-12
}


footer{
    margin-top: auto;
}

.squiggly{
    text-decoration: var(--primary-color) wavy underline;
    border-radius: 4px;
    padding: 3px;
    transition: background .2s ease-in-out;
}
.squiggly:hover{
    background-color: #373636;
}




.link {
    color: var(--primary-color); 
    text-decoration: none; 
    font-weight: 500;
    transition: font-weight 0.2s ease-in, transform 0.2s ease-in; 
    display: inline-block; 
  }
  
  .link:hover {
    transform: scale(1.01); 
  }