@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color: #fabd2f;
}

body{
    background-color: #1e1e1e;
    color: #e8e8e8;
}


.mark{
    border: 2px solid red;
}


.underline-hover{
    position: relative;
}

.underline-hover::after{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0px;
    width: 0;
    background-color: var(--primary-color);
    transition: width .4s ease-out;
}


.underline-hover:hover::after{
    width: 100%;
}

.icon{
    @apply  hover:text-primary cursor-pointer transition delay-0
}
.iconr{
    @apply  hover:text-primary cursor-pointer transition delay-0 hover:rotate-12
}


footer{
    margin-top: auto;
}