---
import MainLayout from "src/layouts/MainLayout.astro";
import Hr from "@components/Hr.astro";
import About from "@components/About.astro";
---

<MainLayout>
  <div>
    <Hr />
    <div class="p-4">
      <About />
    </div>
    <Hr />
    <div class="px-4 mt-10">
      <h2 class="text-xl font-semibold">Recent Posts</h2>
    </div>
  </div>
</MainLayout>
