---
const links = [
  {
    name: "Posts",
    link: "/",
  },
  {
    name: "Projects",
    link: "/projects",
  },
  {
    name: "About",
    link: "/about",
  },
];

import Sanku from "./Sanku.astro";
---

<nav class="flex justify-between items-center">
  <Sanku />

  <ul class="flex space-x-8 p-4 items-center">
    {
      links.map((field) => (
        <li>
          <a
            href={field.link}
            class="text-base underline-hover font-medium pb-1"
          >
            {field.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
