---
type Props = {
  title: string;
  date: string;
};
const { title, date } = Astro.props;
---

<div class="post">
  <div class="mt-3 flex justify-between items-center">
    <a href="" class="link">{title} </a>
    <p>{date}</p>
  </div>
  <hr class="border-[#ffffff58] my-3" />
</div>
