---

---

<a
  href="/"
  class="p-4 hover:bg-[#2a2a2ac1] transition duration-200 rounded-xl cursor-pointer"
>
  <h2 class="md:text-2xl uppercase font-bold tracking-wider">
    s/<span class="text-primary">)</span>nku
  </h2>
</a>
